@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<br />&nbsp;
<br /> 
<address>
    James Coates<br />
    26943 South Elm Lane<br />
    <abbr title="Phone">P:</abbr>
    414-739-4845
</address>

<address>
    <strong>Email:</strong> <a href="mailto:dewlife@yahoo.com">Dewlife@Yahoo.com</a><br />
    <strong>Email:</strong> <a href="mailto:dewlife@dewlife.net">Dewlife@Dewlife.net</a>
</address>
